<div class="jumbotron text-center">
  <h3 class="display-3">{{title}} Home</h3>
  <p class="lead">Dot down ideas for your video</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
  <ul>
    {{#each locations }}
    <li>{{name}}</li>
    {{/each}}
  </ul>
</div>